:root {
	--primary-text-color: rgba(255, 255, 255, 0.85);
	--primary-bg-color: #242a37;
	--primary-border: 1px solid #ffffffaa;
	/* --bg-code: #087f8c; */
	--primary-color: #3d7d86;
	--secondar-color: #ec8d44;
	--bg-highlight: #ffffff22;

	--radius-md: 4px;

	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: var(--primary-text-color);
	background-color: var(--primary-bg-color);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	min-width: 320px;
	min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
pre {
	margin: 0;
}

button,
input,
textarea,
select,
pre {
	&:hover {
		cursor: pointer;
	}
}

pre {
	position: relative;
	padding: 1.5rem;
	background: var(--primary-color);
	white-space: pre-wrap;
	overflow-wrap: break-word;
	&:active {
		transition: 0.2s all;
		filter: brightness(1.1);
	}
}

button {
	color: var(--primary-text-color);
	border-radius: var(--radius-md);
	transition: 0.2s all;
	background: #ffffff00;
	border: none;
	padding: 0.5rem;
	text-transform: uppercase;

	&:hover {
		background: var(--bg-highlight);
	}

	&.selected {
		background: var(--primary-color);
	}
}

input,
textarea,
select {
	color: var(--primary-text-color);
	padding: 0.5rem;
	border: none;
	background: var(--bg-highlight);
	border-radius: var(--radius-md);
	&:focus {
		outline: none;
		box-shadow: 0px 0px 0px 1.5px var(--secondar-color);
	}
}

input[type='checkbox'],
input[type='radio'] {
	margin-right: 0.5rem;
	accent-color: var(--primary-color);
}

select {
	padding-right: 1rem;
}

#root {
	margin: 0;
	height: 100%;
}

.app-container {
	display: flex;
	width: 100%;
	height: 100vh;
}

.options-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	border-right: var(--primary-border);
	min-width: 300px;
}

.main-container {
	flex: 1;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.header {
	padding: 0.5rem 1rem;
	border-bottom: var(--primary-border);
	text-align: center;
}

.main-content {
	padding: 0.5rem 1rem;
}

.swatch-container {
	display: flex;
	width: 100%;
	height: 64px;
}

.flex-row {
	display: flex;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.gap-1 {
	gap: 0.25rem;
}

.gap-2 {
	gap: 0.5rem;
}

.gap-3 {
	gap: 0.75rem;
}

.gap-4 {
	gap: 1rem;
}

.p-1 {
	padding: 0.25rem;
}

.p-2 {
	padding: 0.5rem;
}

.p-3 {
	padding: 0.75rem;
}
.p-4 {
	padding: 1rem;
}

.align-center {
	align-items: center;
}

.copy-icon {
	position: absolute;
	right: 1rem;
	top: 50%;
	transform: translateY(-50%);
	display: flex;
	padding: 0.4rem 0.4rem;
	border: var(--primary-border);
	border-radius: 6px;
	background-color: var(--bg-highlight);
	font-size: 1rem;
}

.gradient-text {
	background: linear-gradient(90deg, #ff7e5f, #feb47b);
	background-color: var(--primary-text-color);
	background-size: 100%;
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
}
